.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid var(--whitepink);
  background-color: var(--littledarkpink);
  opacity: 0.7;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}
